/* Story Mode Section */
.story-mode {
  text-align: left;
  max-width: 900px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.story-mode h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.story-mode p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 20px;
  line-height: 1.6;
} 
@media (max-width: 768px) {
.story-mode {
  padding: 20px;
}
}
@media (max-width: 480px){
.story-mode h3 {
  font-size: 1.6rem;
}

.story-mode p {
  font-size: 0.9rem;
}}